html, body {
  height: 100%;
  position: relative;
}

#shell {
  min-height: 100vh; /* cover 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of footer */
}

body {
  background: #7C92A8;
  color: #B59F6A;
  font-family: 'Roboto Slab';
}

a, a:hover {
  color: #B59F6A !important;
  text-decoration: none;
}

canvas {
  width: 200px;
}

h1 {
  font-weight: bold;
}

li {
  background-color: #304E6C !important;
  color: #fff;
  text-align: left;
  box-shadow: 0 0 1px #fff;
}

li i {
  color: #B59F6A;
  font-size: 1.3rem;
}

nav, .modal-content {
  background-color: #2E4359;
}

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:focus {
  background-color: #2E4359 !important;
  color: #fff !important;
  border: none;
  box-shadow: none !important;
}

.navbar-brand {
  font-size: 1.6rem;
}

#newLocation {
  min-width: 300px;
}

.weatherBlock {
  background: #2E4359;
  box-shadow: 0 0 1px #fff;
}

footer {
  background-color: #2E4359;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 10px 10px 0 10px;
}

.footerLink {
  padding-left: 10px;
  font-size: 1.2em;
}

#darkskylogo {
  width: 25px;
}